.top-container{
    padding: 1rem 0;
    display: grid;
    color:rgb(7, 54, 7);
    letter-spacing: 0.3vmin;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    grid-template-rows: max-content;
    grid-column-gap: 2vmin;
    font-size: 1.5vmin;
}

.image-left{
    justify-self: flex-end;
}

.image-left img{
    width:65vmin;
    height:55vmin;
    object-fit: cover;
}

.details-right{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.top-container span{
    font-weight: 600;
    font-size: 3vmin;
    color:rgb(110, 67, 67);
}

.details-right ul{
    padding-left: 3rem;
    width: fit-content;
    margin-left: 3rem;
    line-height: 3vmin;
    letter-spacing: 0.3vmin;
}

.bottom-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min-content,20%));
    padding: 2vmin 0;
    /* background: linear-gradient(to bottom right, rgb(17, 112, 17),rgb(7, 153, 7),rgb(6, 90, 6));
    background-color: #3bb78f; */
    background: linear-gradient(transparent, rgba(123, 127, 133, 0.712), transparent);
}

.img-wrapper img{
    width: 22vmin;
    height: 22vmin;
    object-fit: cover;
    border-radius: 50%;
    
    transition: transform 0.5s linear;
}

.img-wrapper img:hover{
    transform: scale(1.1);
}

.img-wrapper{
    justify-self: center;
    overflow: hidden;
    border-radius: 50%;
}

.button-style{
    font-size: 3vmin;
    font-weight: 500;
    letter-spacing: 0.4vmin;
    outline: none;
    border: 1px solid rgb(47, 58, 47);
    background: linear-gradient(to right,rgb(146, 180, 146), rgb(140, 189, 140));
    transition: transform 0.5s;
    text-decoration: none;
    color: black;
    border-radius: 0.3rem;
    display: inline-block;
    margin-top: 1rem;
    position: relative;
    overflow: hidden;
    transform:  skewX(-25deg);
    transition: transform 0.5s;
}

.button-style::before{
    content:"";
    position: absolute;
    top:0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left,transparent, rgba(255, 255, 255, 0.822), transparent);
    transition: left 1s;
}
.button-style:hover{
    transform: skewX(0);
}
.button-style:hover::before{
    left: 100%;
}
.blue:visited{
    color:rgb(0, 0, 255);
}