<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/public/css/newPasswordStyle.css'>
</head>
<body>
    <%-include('includes/nav.ejs')%>

    <%if(errorMessage.length!=0){%>
        <h1 class="error"><%=errorMessage%></h1>
    <%}%>

    <%if(successMessage.length!=0){%>
        <h1 class="success"><%=successMessage%></h1>
    <%}%>

    <div class="container">
        <form action="/newPassword" class="form" method = "POST" >
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <input type="hidden" name="token" value="<%=token%>">
            <button class="submit" type="submit">New Password</button>
        </form>

    </div>
</body>
</html>